<h1>Admin::Accounts#Index</h1>

<% @users.each do |user| %>
    <h2><%= link_to user.email, admin_account_path(user) %>
      <% if user.student != nil then %>
          <small>Is school</small>
          <small><%= link_to 'Schools', schools_admin_account_path(user) %></small>
      <% elsif user.school != nil then %>
          <small>Is school</small>
      <% else %>
          <small><%= link_to 'Select Type', type_admin_account_path(user) %></small>
      <% end %>
      <small><%= link_to 'Edit', edit_admin_account_path(user) %></small>
      <small><%= link_to 'Delete', admin_account_path(user), method: :delete %></small>
    </h2>
    <p><%= user.password %></p>
<% end %>

